[Unit]
Description=VaultWarden
After=network-online.target
Wants=network-online.target

[Container]
Pod=vaultwarden.pod

Image=docker.io/vaultwarden/server:latest

Volume=/var/lib/local_containers/vaultwarden/data/:/data:Z

Environment=DOMAIN=https://vaultwarden.tail044fe.ts.net/

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
