[Unit]
Description=Open-Computer
StartLimitIntervalSec=30
StartLimitBurst=10


[Container]
Pod=open-computer.pod

User=1000:1000

Image=ghcr.io/open-webui/computer:latest

Volume=/var/lib/local_containers/open-computer/data:/data:rw,Z
Volume=/home/aria/ai/ow-computer:/workspace:rw,Z
Volume=/home/aria/ai/outbox:/workspace/outbox:rw,Z
Volume=/home/aria/inbox:/workspace/inbox:ro,Z

AutoUpdate=registry

[Service]
Restart=always
RestartSec=5