[Unit]
Description=Forgejo
After=network-online.target
Wants=network-online.target

[Container]
Pod=forgejo.pod

Image=codeberg.org/forgejo/forgejo:13

Volume=/var/lib/local_containers/forgejo/data/:/data:Z
Volume=/etc/timezone:/etc/timezone:ro,z
Volume=/etc/localtime:/etc/localtime:ro,z

Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=FORGEJO__server__ROOT_URL=https://forgejo.tail044fe.ts.net
Environment=FORGEJO__server__SSH_DOMAIN=forgejo.tail044fe.ts.net

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
