[Unit]
Description=SearXNG
After=network-online.target
Wants=network-online.target

Requires=searxng-valkey.service
After=searxng-valkey.service

[Container]
Pod=searxng.pod

Image=docker.io/searxng/searxng:latest

Volume=/etc/local_containers/searxng/settings.yml:/etc/searxng/settings.yml:ro,Z
Volume=/var/lib/local_containers/searxng/cache:/var/cache/searxng:Z

Environment=FORCE_OWNERSHIP=false

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
