[Unit]
Description=Quartermaster
StartLimitIntervalSec=30
StartLimitBurst=10

[Container]
Pod=quartermaster.pod

User=1000:1000

Image=ghcr.io/quartermaster-labs/quartermaster:latest

Volume=/var/lib/local_containers/quartermaster/data:/data:Z
Volume=/home/aria/ai/models:/data/models:Z

AutoUpdate=registry

[Service]
Restart=always
RestartSec=5