[Unit]
Description=Open-WebUI
StartLimitIntervalSec=30
StartLimitBurst=10

[Container]
Pod=open-webui.pod

User=1000:1000

Image=ghcr.io/open-webui/open-webui:latest

Volume=/var/lib/local_containers/open-webui/data:/app/backend/data:Z

EnvironmentFile=/var/lib/local_containers/open-webui/open-webui.env

AutoUpdate=registry

[Service]
Restart=always
RestartSec=5