[Unit]
Description=Open-Terminal
StartLimitIntervalSec=30
StartLimitBurst=10


[Container]
Pod=open-webui.pod

User=1000:1000

Image=ghcr.io/open-webui/open-terminal:latest

Volume=/home/aria/ai/ow-terminal:/home/user:rw,Z

EnvironmentFile=/var/lib/local_containers/open-webui/terminal.env

AutoUpdate=registry

[Service]
Restart=always
RestartSec=5