[Unit]
Description=Borg-Backup-Server
After=network-online.target
Wants=network-online.target

[Container]
Pod=borg-backup-server.pod

Image=marcpope/borgbackupserver:latest

Volume=/var/lib/local_containers/borg-backup-server/backups/bbs

Environment=SSH_PORT=${SSH_PORT:-2222}
Environment=https://borg-backup-server.tail044fe.ts.net

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target