[Unit]
Description=Nvidia PyTorch with NCCL
StartLimitIntervalSec=30
StartLimitBurst=10
After=nvidia-device-init.service
Requires=nvidia-device-init.service

[Container]
Pod=nccl.pod

ContainerName=nccl

Image=localhost/nccl:latest

Volume=/var/lib/local_containers/nccl/apps:/apps:rw,Z
Volume=/var/lib/local_containers/nccl/authorized_keys:/etc/ssh/authorized_keys/ubuntu:ro,Z
Volume=/var/lib/local_containers/nccl/ssh/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key:Z
Volume=/var/lib/local_containers/nccl/ssh/ssh_host_ed25519_key.pub:/etc/ssh/ssh_host_ed25519_key.pub:Z

AddDevice=nvidia.com/gpu=all

HealthCmd=nvidia-smi
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthOnFailure=kill

AutoUpdate=registry

[Service]
Restart=unless-stopped
RestartSec=5
