[Unit]
Description=Jellyfin

[Container]
Pod=jellyfin.pod

Image=docker.io/jellyfin/jellyfin

Volume=/etc/local_containers/jellyfin/:/config:Z
Volume=/var/lib/local_containers/jellyfin/cache:/cache:Z
Volume=/home/aria/share/music:/media:ro,Z

Environment=JELLYFIN_PublishedServerUrl=https://jellyfin.tail044fe.ts.net

AutoUpdate=registry

[Service]
Restart=always
