TS_AUTHKEY={{ tailscale_auth_key }}
TS_HOSTNAME={{ service_name | default(name) }}

TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json

{% if tailscale_extra_args is defined %}
TS_EXTRA_ARGS={{ tailscale_extra_args }}
{% endif %}
