[Unit]
Description=Bookmark Manager

[Container]
ContainerName=karakeep

Image=ghcr.io/karakeep-app/karakeep:release

User=1000:1000

Pod=karakeep.pod

AutoUpdate=registry

EnvironmentFile=/etc/local_containers/karakeep/karakeep.env
#Environment=NEXTAUTH_SECRET=SECRET
#Environment=MEILI_MASTER_KEY=SECRET
Environment=MEILI_ADDR=http://karakeep-meilisearch:7700
Environment=BROWSER_WEB_URL=http://karakeep-chrome:9222
Environment=DATA_DIR=/data
Environment=NEXTAUTH_URL=https://karakeep.tail044fe.ts.net:3000
#Environment=OPENAI_API_KEY=

Volume=/var/lib/local_containers/karakeep:/data:Z

[Service]
Restart=unless-stopped
RestartSec=5