[Unit]
Description=Bookmark Management
StartLimitIntervalSec=30
StartLimitBurst=10

[Container]
Pod=karakeep.pod
ContainerName=karakeep

Image=ghcr.io/karakeep-app/karakeep:latest

Volume=/var/lib/local_containers/karakeep/data:/data:rw,z

EnvironmentFile=/etc/local_containers/karakeep/karakeep.env
Environment=DATA_DIR=/data
Environment=MEILI_ADDR=http://127.0.0.1:7700
Environment=NEXTAUTH_URL=https://karakeep.tail044fe.ts.net
Environment=BROWSER_WEB_URL=http://127.0.0.1:9222
Environment=HOSTNAME=0.0.0.0
Environment=PORT=3000

AutoUpdate=registry

[Service]
Restart=unless-stopped
RestartSec=5